@model POS.Model.MENU

@{
    ViewBag.Title = "Nuevo";
}


@using (Html.BeginForm("Nuevo", "Menu", FormMethod.Post))
{
    <h2>Modificar registro</h2>

    <table>
        <tr>
            <td>ID</td>
            <td>@Html.TextBoxFor(m => m.idMenu)</td>
        </tr>
        <tr>
            <td>Nombre</td>
            <td>@Html.TextBoxFor(m => m.pagina)</td>
        </tr>
        <tr>
            <td>Descipcion</td>
            <td>@Html.TextBoxFor(m => m.descripcion)</td>
        </tr>
        <tr>
            <td>Activo</td>
            <td>@Html.TextBoxFor(m => m.activo)</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><input type="submit" value="Guardar" class="btn btn-primary"/></td>
        </tr>
    </table>
}