@model IEnumerable<POS.Model.MENU>

@using POS.Model;
@{
    ViewBag.Title = "Administrador";
}

<div class="container">
    <div class="col-6 col-md-4">
        <div class="dropdown-menu">

            @foreach (MENU m in @Model)
            {
                <li>
                    @Html.ActionLink(m.pagina, "Mantenimentos", new { id = m.pagina })
                </li>
            }

        </div>
        </div>
        <div class="col-6 col-md-4"></div>
    </div>